body {
  margin: 0;
  color: #055049;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #f3dfe3;
}

h1 {
  font-family: 'Norican', cursive;
  color: #e9b2bc;
  font-weight: 200;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

h2 {
  color: #e9b2bc;
  font-weight: 500;
  margin-top: 10px;
  font-size: 40px;
  padding-bottom: 5px;
  font-family: 'Nunito', sans-serif;
}

h3 {
  color: #e9b2bc;
  font-size: 35px;
  font-family: 'Nunito', sans-serif;
}

p {
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}

.Top {
  background-color: #fff3e2;
  position: relative;
  padding-top: 100px
}

.Pi {
  width: 300px;
  height: 300px;
  background-image: url('images/Beej.png');
  background-size: 25% 25%;
}

.Middle {
  margin: 100px 0;
}

.Bottom {
  background-color: #9088d4;
  padding: 50px 0 20px;
}

hr {
  margin-right: auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #055049;
  border-width: 13px;
  width: 100px;
}

.bCloud {
  position: absolute;
  left: 180px;
  bottom: 530px;
  /*-----------image properties-------------------*/
  width: 200px;
  height: 100px;
  background-image: url('images/cloud1.png');
  background-size: 100% 100%;
}

.tCloud {
  position: absolute;
  right: 200px;
  top: 300px;
  /*-----------image properties-------------------*/
  width: 200px;
  height: 100px;
  background-image: url('images/cloud.png');
  background-size: 100% 100%;
}

.Pi{
  width: 16%;
  margin: 23px;
  border-radius: 100%;
}

.Cloud2 {
  position: absolute;
  right: 100px;
  top: 30px;
  /*-----------image properties-------------------*/
  width: 200px;
  height: 100px;
  background-image: url('images/cloud2.png');
  background-size: 100% 100%;
}



.Mount {
  /*-----------image properties-------------------*/
  width: 100%;
  height: 350px;
  background-image: url('images/Bukid.png');
  background-size: 100% 100%;
}

p {
  line-height: 1.5;
}

/*------------------------------*/
.skill-row1 {
  width: 50%;
  margin: 40px auto 100px auto;
  text-align: left;
}

/*------------------------------*/
.skill-row2 {
  width: 50%;
  margin: 10px auto 100px auto;
  text-align: left;
}

.skill1 {
  margin: 10px auto 100px auto;
  width: 30%;
  height: 210px;
  float: right;
  margin-right: 30px;
}

.skill2 {
  margin: 10px auto 100px auto;
  width: 25%;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #e9b2bc;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
  background-image: -moz-linear-gradient(top, #11cdd4, #119993);
  background-image: -ms-linear-gradient(top, #11cdd4, #119993);
  background-image: -o-linear-gradient(top, #11cdd4, #119993);
  background-image: linear-gradient(to bottom, #11cdd4, #119993);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.foot {
  font-family: 'Montserrat', sans-serif;
  color: #EAF6f6;
  font-size: 15px;
  padding: 20px 0;
}

.footer-link:hover{
  color: #fff;
}

a {
  margin: 5px 10px;
/*text-decoration: none;*/
}
